Options -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} != https
RewriteRule ^.*$ https://www.podmesipomahat.sk [L,R]

DirectoryIndex index.html
ErrorDocument 404 /index.html
ErrorDocument 403 /index.html

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 2 days"
  ExpiresByType text/javascript "access plus 2 days"
  ExpiresByType application/javascript "access plus 2 days"
</IfModule>