Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^.*$ https://www.podmesipomahat.sk [L,R]
DirectoryIndex index.html
ErrorDocument 404 /index.html
ErrorDocument 403 /index.html